
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #420f1c;
  color: #ffffff;
  font-family: 'Segoe UI', 'Arial', 'Helvetica', sans-serif;
}

.align_center {
  display: flex;
  align-items: center;
}